Adafruit-GPIO==1.0.3
Adafruit-PCA9685==1.0.1
Adafruit-PureIO==1.1.9
numpy==1.23.1
pandas==1.4.3
# picamera==1.13
python-dateutil==2.8.2
pytz==2022.1
six==1.16.0
spidev==3.5
opencv-python==4.6.0.66
RPi.GPIO==0.7.1
streamlit==1.11.0
plotly==5.9.0
streamlit_plotly_events==0.0.6
python-dotenv==0.20.0